.find-present input[finder="TwitterName"] {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 2em;
  text-indent: .5em;
  border: .1em solid #cccccc;
  outline-color: #cccccc;
  font-size: 1.5em;
  padding: 0 5px;
}

.slider-wrapper {
  margin: 1em 0 4em 0;
}

rzslider span.rz-pointer,
rzslider span.rz-bar.rz-selection {
  background-color: #0e426c;
}

rzslider span.rz-pointer {
/*  width: 22px;
  height: 22px;
  top: -9px;*/
}

rzslider span.rz-pointer:after,
rzslider span.rz-pointer:hover:after,
rzslider span.rz-pointer.rz-active:after {
  background-color: #eeeeee;
/*  top: 7px;
  left: 8px;*/
}

rzslider span.rz-bubble {
  font-size: 1.1em;
}