<div class="find-present centered row">

	<div class="centered col-md-4 col-sm-5 col-xs-7">

		<input
			type="text"
			ng-model="NewPresentCtrl.twitterName"
			finder="TwitterName"
			placeholder="eg. @bckatarzyna"/>

		<div class="slider-wrapper">
			<rzslider
			    rz-slider-floor="NewPresentCtrl.priceSlider.floor"
			    rz-slider-ceil="NewPresentCtrl.priceSlider.ceil"
			    rz-slider-model="NewPresentCtrl.priceSlider.min"
			    rz-slider-high="NewPresentCtrl.priceSlider.max"
			    rz-slider-translate="NewPresentCtrl.translate"></rzslider>
		</div>
		
	  	<button class="submit centered" ng-click="NewPresentCtrl.find()">
	  		Find present!
	  	</button>

	</div>

</div>