<div class="row" ng-if="NewPresentCtrl.viewReady">
	<img src="assets/images/gifter-logo.png"
	class="centered main-logo col-md-4 col-sm-6 col-xs-8">
</div>

<div class="row" ng-if="!NewPresentCtrl.viewReady">
	<img src="assets/images/animated-logo.gif"
	class="centered main-logo col-md-4 col-sm-6 col-xs-8">
</div>

<div class="find-present centered row">

	<div class="centered col-md-4 col-sm-5 col-xs-7" ng-if="NewPresentCtrl.viewReady">

		<input
			type="text"
			ng-model="NewPresentCtrl.twitterName"
			finder="TwitterName"
			placeholder="eg. bckatarzyna"/>

		<div class="slider-wrapper">
			<rzslider
			    rz-slider-floor="NewPresentCtrl.priceSlider.floor"
			    rz-slider-ceil="NewPresentCtrl.priceSlider.ceil"
			    rz-slider-model="NewPresentCtrl.priceSlider.min"
			    rz-slider-high="NewPresentCtrl.priceSlider.max"
			    rz-slider-translate="NewPresentCtrl.translate"></rzslider>
		</div>
		
	  	<button class="submit centered" ng-click="NewPresentCtrl.find()">
	  		Find present!
	  	</button>

	</div>

	<div class="loader-wrapper col-md-4 col-sm-5 col-xs-7" ng-if="!NewPresentCtrl.viewReady">
		<div class="info">
			Loading data... It can take a while.
		</div>
	</div>

</div>