.presentList {
	padding: 2% 5%;
	height: 100%;
}

.present {
	display: inline-block;
	border: .1em solid #F4E4B8;
	margin: 1%;
	width: 22.5%;
}

.title {
	font-size: .9em;
	color: #643211;
}

img {
	padding: 2% 9.5%;
	width: 80%;
}

.price {
	font-size: .7em;
}

.submit {
  margin-top: 1em;
  width: 100%;
  background: #F4E4B8;
  color: #361502;
  font-size: 1em;
  border: .1em solid #F4E4B8;
}

.submit:hover {
  background: #F0E0B0;
  outline-color: #F0E0B0;
}

@media screen and (max-width: 400px) {
  .present {
    width: 97.5%;
  }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
  .present {
    width: 46%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1150px) {
  .present {
    width: 22%;
  }
}