.presentList {
	padding: 2% 5%;
	height: 100%;
}

.present {
	border: .1em solid #F4E4B8;
  margin: .1em;
}

.title {
  padding: 2% 5%;
	font-size: 1.2em;
	color: #643211;
}

img {
	padding: 2% 10%;
}

.price {
  padding: 0 5%;
}

.submit {
  margin-top: 1em;
  width: 100%;
  background: #F4E4B8;
  color: #361502;
  font-size: 1em;
  border: .1em solid #F4E4B8;
}

.submit:hover {
  background: #F0E0B0;
  outline-color: #F0E0B0;
}