*.pyc
__pycache__
*.egg
*.egg-info
.eggs
.DS_Store
.log
local_settings.py
# data for modeling
/src/ml/data/data.json
.ipynb_checkpoints
/src/gifter/static/bower_components
/src/gifter/static/node_modules
/src/gifter/static/www
/src/gifter/category_hierarchy.json
/src/ebay.yaml

# Corpus and trained model
/src/ml/data/word2vec/model
/src/ml/data/word2vec/corpus
/src/ml/data/labeled_twitter/*
/src/ml/data/skmodels

# distribution plot
/src/distribution.jpg
