*.pyc
__pycache__
*.egg
*.egg-info
.eggs
.DS_Store
.log
local_settings.py
# data for modeling
/gifter/modeling/data.json
.ipynb_checkpoints
/gifter/static/bower_components
/gifter/static/node_modules
/gifter/static/www
category_hierarchy.json
ebay.yaml

# Corpus and trained model
/gifter/modeling/word2vec/text8*
