request==2.5.3
tweepy==3.3.0
pandas==0.16.0
scikit-learn==0.16.0
ipython==3.0.0
pyzmq==14.5.0
Jinja2==2.7.3
tornado==4.1
jsonschema==2.4.0
Unidecode==0.4.17
mistune==0.5.1
Pygments==2.0.2
rauth==0.7.1
Flask==0.10.
facebook-sdk==0.4.0
