.result {
  font-size: 1.7em;
  width: 70%;
  text-align: center;
  margin: 1.5% 0 2%;
  color: #f5ad28;
}

.small {
  height: 2.5em;
}

.person-block {
  margin-bottom: 4%;
}

.person-block > .row > .person-img {
  display: inline-block;
}

.person-block > .row > .person-desc {
  display: inline-block;
  font-size: 1.5em;
  color: #666666;
}