.present-wrapper {
  margin: 5vh 0;
  overflow: hidden;
  height: 22vw;
}

.present-wrapper > .slider {
  padding: 0;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  position: absolute;
  white-space: nowrap;
}

.slider > .present {
    position: relative;
    display: inline-block;
    width: 30vw;
}

.present > .title {
  width: 18vw;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.present > .img-wrapper {
  width: 18vw;
  height: 18vw;
  margin-left: auto;
  margin-right: auto;
}

.img-wrapper > img {
  max-width: 18vw;
  max-height: 18vw;
}

.present > .price {
  width: 18vw;
  font-size: 1.2em;
}

.present > .ebay-link {
  cursor: pointer;
  width: 18vw;
  font-size: 1.2em;
}

.slider > .present-hidden {
  opacity: 0.4;
}

.back {
  left: 34.2vw;
}

.middle {
  left: 4.2vw;
}

.next {
  left: -26.8vw;
}

.submit {
  margin-top: 1em;
  width: 100%;
  background: #F4E4B8;
  color: #361502;
  font-size: 1em;
  border: .1em solid #F4E4B8;
}

.submit:hover {
  background: #F0E0B0;
  outline-color: #F0E0B0;
}

.category {
  font-size: 1.7em;
  width: 70%;
  text-align: center;
  margin: 2% 0 -1% 0;
}

.small {
  height: 2.5em;
}