.analysisBox {
	margin: 2% auto;
	width: 30%;
	padding: 1em;
	color: #643211;
  	border: .1em solid #F4E4B8;
}

.user {
	font-size: 1em;
	border-bottom: .1em solid #F4E4B8;
}

.hashtag {
	padding: 1em 0 0 0;
	font-size: .8em;
	color: #73380D;
}

@media screen and (max-width: 800px) {
  .analysisBox {
    width: 60%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .analysisBox {
    width: 50%;
  }
}