# eBay
EBAY_SANDBOX_DOMAIN = 'svcs.sandbox.ebay.com'
EBAY_PRODUCTION_DOMAIN = 'ebay.com'
EBAY_PRODUCTION_APP_ID = 'app/id'
EBAY_PRODUCTION_CERT_ID = 'cert/id'
EBAY_PRODUCTION_DEVID = 'devid'


TWITTER_CONSUMER_KEY = 'LotTS9OSc4Su0OecU3z5kV86B'
TWITTER_CONSUMER_SECRET = 'tvC0X0VbuYEuaBh5Q3T9bpVXKdl9JQjyD7l8PqlVn3WCQzR3aQ'
TWITTER_ACCESS_TOKEN = '1282520114-PJBqV6lOaEdpDnW4YAGNyEZVPHzqwk7uXHd46yN'
TWITTER_ACCESS_TOKEN_SECRET = '1I8s0DftHeLneQGcI2okNUHcXpQLsXQCOtxFwhOAggodU'


SECRET_KEY = 'secret/key'
